<%- include('partials/header') %>

    <h2>Bienvenue sur le trombinoscope de l'école O'clock</h2>
    <a href="/promos">Voir la liste de promos</a>
    <a href="/admin/addStudent">Ajouter un étudiant</a>

<%- include('partials/footer') %>    