<%- include('partials/header') %>

<h4> Login </h4>

<form action="/login" method="POST">
  <input type="text" name="name" placeholder="youremailhere" />
  <input type="password" name="password" placeholder="yourpasswordhere"/>
  <button type="submit">login</button>
</form>

<%- include('partials/footer') %>    