<%- include('partials/header') %>

    <h2>Liste des promos</h2>
    <ul class="cards">
        <% for(const promo of promoList){ %>
            <li class="card card--label">
                <a href="/promo/<%= promo.id %>"><%= promo.name%></a>
            </li>
        <% } %>
    </ul>

<%- include('partials/footer') %>    